# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
*.spec

# C extensions
*.so
*.dll

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# pipenv
# According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
# However, if you need to ignore Pipfile.lock, please comment out the line below.
#Pipfile.lock
.Pipenv
pip-log.txt

# Log files
*.log

# JetBrains / PyCharm
.idea/

# VS Code
.vscode/

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vs/slnx.sqlite
.vs/stock_valuation/v15/.suo
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
